* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   font-family: 'Inter', sans-serif;
}

.fontstyle {
  font-style: normal;
  font-weight: 600;
  text-wrap: balance;
  font-family: "Inter";
}

.wrap {
  text-wrap: balance;
}

.text-style {
  font-style: normal;
}

.box {
  box-shadow: #F8BB15 2.4px 2.4px 3.2px;
}
.second-box {
  box-shadow: #E94435 2.4px 2.4px 3.2px;
}

.arrow{
  width: 30%;
}

.bg {
  background-color: #FFFAEB !important;
}

.card {
box-shadow: -7px 9px 0px -1px rgba(0,0,0,0.76);
-webkit-box-shadow: -7px 9px 0px -1px rgba(0,0,0,0.76);
-moz-box-shadow: -7px 9px 0px -1px rgba(0,0,0,0.76);
}

.move:hover img{
  right: -1.5rem;
  top: -1.5rem;
  width: 70%;
}


@media screen and (min-width: 768px) {
  .arrow {
    width: 100%;
  }
  .move:hover img{
  right: -4rem;
  top: -3rem;
  width: 50%;
}
}